      <p>
      {{#opzione1}}
        <a class="btn btn-large btn-success" href="/zip-war-airganon{{{ti-porta-a}}}">{{questa-opzione}} <i class="icon-{{{icona}}} icon-white"></i></a>
      {{/opzione1}}
      {{#opzione2}}
        &nbsp;<a class="btn btn-large btn-success" href="/zip-war-airganon{{{ti-porta-a}}}">{{questa-opzione}} <i class="icon-{{{icona}}} icon-white"></i></a>
      {{/opzione2}}
      </p>
      {{#opzione3}}
      <p>
        <a class="btn btn-small btn-primary" href="/zip-war-airganon{{{ti-porta-a}}}">{{questa-opzione}} <i class="icon-{{{icona}}} icon-white"></i></a>
      </p>
      {{/opzione3}}