      <div class="footer">
        <p class="text-right">Grazie a <a href="http://i.imgur.com/xDanWtZ.jpg"> Adriano D'Esposito</a> per la descrizione dell'algoritmo.
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
  </body>
</html>