{{> header }}

  <hr>

    <div class="jumbotron" role="main">
      <h2>{{{titolo}}}</h2>
      <p class="lead">
        "{{{nota}}}"
      </p>
      {{> bottoniera }}
		</div>

  <hr>

{{> footer }}

