{{> header }}

  <hr>

    <div class="jumbotron" role="main">
      <h1>{{{titolo}}}</h1>
      <blockquote class="text-left">
        {{{nota}}}
        <small><cite><a href="http://www.francescolanza.net/grillo-e-il-software-misterioso-antani" />Peppe Crillo</cite></small>
      </blockquote>
      {{> bottoniera }}
		</div>

  <hr>

{{> footer }}


<!--

        <h1>Tutti a casa!!1!11</h1>
        <blockquote>
          "Sto leggendo un po', ma siamo abbastanza messi bene, voglio dire, però adesso stiamo mettendo a punto un algoritmo, che è l'svg4 di out e crowd sourcing in modo che si possano intensificare e intersecare tutti i dati mondiali delle banche e delle dichiarazioni fiscali."
          <small><cite><a href="http://www.francescolanza.net/grillo-e-il-software-misterioso-antani" />Peppe Crillo</cite></small>
        </blockquote>
        <a class="btn btn-large btn-success" href="start.html">Inizia <i class="icon-play icon-white"></i></a>
      </div>
-->

